@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Basis for setting a clean slate for styling the document */
html, body {
    margin: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    color: #333;
}

                                        /* Index Page */
/* This grid container sets everything up so it would be managed TOP-DOWN */
.container{
    height: 100%;
    display: grid;
    grid-template-rows: 4rem auto;
    
    /* 12 column layout */
    grid-template-areas: 
        "header header header header header header header header header header header header"
        "content content content content content content content content content content content content"
    ;
}

/* Container for the navigation bar */
.topstrip {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fffbff;
    grid-area: header;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:100%;
    display:table;
}

nav ul li {
    float: left;
    padding: 2px;
}

nav ul li a {
    display: block;
    padding: 22px;
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

nav ul li:hover {
    transition: 500ms;
    background-color: #424242;
}

nav ul li a:hover {
    transition: 500ms;
    color: #ffffff;
}

nav ul li a:visited {
    text-decoration: none;
}

#brand {
    padding:10px;
}

#branding:hover {
    transition: 650ms;
    background-color: #424242;
}

#brand:hover {
    filter: invert(1);
}

/* Container for the content of the webpage */
.content {
    background-color: #424242;
    color: #ffffff;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
}

/* Styling for the cards on the Home Page */
@media (min-width: 799px) {
    .card {
        font-size: 0.75rem;
        margin: 3rem;
    }
}

@media (min-width: 1365px) {
    .card {
        font-size: 1rem;
        margin-left: 25%;
    }
}

@media (min-width: 1919px) {
    .card {
        font-size: 1.25rem;
    }
}

.cardheader p{
    margin: 8px 0px;
}

/* Styling for the ticket card */
#ticket span{
    display: inline-block;
    margin-right: 10px;
}

#ticket span+span {
    margin-right: 20px;
}

td {
    padding-bottom: 5px;
    vertical-align: top;
}

                                            /* Ticket Page */

/* Formatting the Form with the Ticket Search Bar */
#ticketContainer {
    height: 100%;
    display: grid;
    grid-template-rows: 4rem auto;
    
    /* 12 column layout */
    grid-template-areas: 
        "header header header header header header header header header header header header"
        "ticketContent ticketContent ticketContent ticketContent ticketContent ticketContent ticketContent ticketContent ticketContent ticketContent ticketContent ticketContent"
    ;

}

#ticketContent {
    background-color: #424242;
    color: #ffffff;
    grid-area: ticketContent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "form form"
    ;
    justify-items: stretch;
    align-items: stretch;
}

#ticketBody {
    margin: 3em 5em;
    grid-area: form;
}

#ticketsearch {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #424242;
    color: #ffffff;
}

#ticketsearchbutton {
    padding: 0.5rem 1rem;
    display: inline-block;
    text-decoration: none;
    background-color: #424242;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 1rem;
}

#ticketsearchbutton:active {
    border: none;
    background-color: #ffffff;
    color: #333;
    transition: 0.2s
}

#createticket {
    border: none;
    justify-self: end;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    float: right;
    background-color: #ffffff;
}

/* Ticket Table */
.tablespacing {
    border-spacing: 5px;
}

#tickettable {
    width: 100%;
    margin-top: 2rem;
    border: 1px solid #ffffff;
}

#tickettable button{
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ffffff;
}

#tickettable th{
    text-align: left;
}


#tickettable th:nth-child(1) {
    width: 4rem;
    border: none;
}

#tickettable th:nth-child(2) {
    width: 10rem;
}

#tickettable th:nth-child(3) {
    width: 10rem;
}

#tickettable th:nth-child(4) {
    width: 20rem;
}
